html {
    padding: 10px;
    max-width: 400px;
}

details {
    cursor: default;
}

.img-dice {
    width: 40px;
    height: 40px;
}

.spin {
    transition: transform 1.0s ease-in-out;
}

.rotated {
    transform: rotate(720deg);
}

#display-dice-result {
   font-size: 30px;
}

.indent {
    padding-left: 20px;
}

.indent2 {
    padding-left: 40px;
}

table, th, td {
    padding: 4px;
    border: 1px solid black;
}

button {
    padding: 4px;
    width: 80px;
    background-color:rgb(233, 250, 214);
}