html {
    padding: 10px;
    max-width: 400px;
}

details {
    cursor: default;
}

.indent {
    padding-left: 20px;
}

.indent2 {
    padding-left: 40px;
}

table, th, td {
    padding: 4px;
    border: 1px solid black;
}